body{
    background-color: rgb(0, 37, 68);
}
.container{
    height: 15000px;
}
.cvs{
    top: 800px;
    left: 0%;
    position: absolute;
    transition: transform 0.5s ease;
    width: 700px;
    height: 700px;
}
h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    
}
.t1{
    position: relative;
    top: 1000px;
    left: 40%;
    width: 40%;
}

.t2{
    position: relative;
    top: 1300px;
    left: 10%;
    width: 40%;
   
}
.t3{
    position: relative;
    top: 1520px;
    left: 40%;
    width: 40%;

}



.scroll_inner{
    height: 10000px;
}




@keyframes aos-hover-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

/* 将这个关键帧动画应用到 AOS 类 */
.aos-hover-zoom:hover {
    animation: aos-hover-zoom 0.8s ease-in-out forwards;
}
 


