.headimg img {
    width: 100%;
    box-shadow: 0px 5px 10px -50px rgba(255, 255, 255, 0.5),
        inset;
}
.headimg {
    position: relative;
    margin-top: 70px;
}
.headimg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(to top, white, transparent);
}
