* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 20px 40px 40px #00000033;
    background: #f5f5f5;
    height: 60px;
}

.logo {
    position: absolute;
    z-index: 4;
    width: 12%;
}

.logo img {
    width: 100%;
}

.nav {
    right: 30px;
    position: relative;
    display: flex;
    justify-content: end;
    list-style: none;
    width: 100%;
}

.nav li a {
    position: relative;
    padding: 15px 25px;
    font: 500 20px '优设标题黑';
    border: none;
    outline: none;
    color: rgb(70, 100, 180);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}
.navbar a {
    padding: 15px ;
}
.icon1,
.icon2,
.icon3,
.icon4 {
float: left;
    width: 60px;
}
@media (max-width: 640px) {

    /* 当窗口宽度小于600px时应用的样式 */
    .icon1,
    .icon2,
    .icon3,
    .icon4 {
        display: none;
        /* 隐藏图标 */
    }}
.dropdown-menu {
    display: inline-block;
}
.dropdown-a {
    padding: 0px 15px  !important;
    line-height: 60px !important;
}
.dropdown-menu:hover .dropdown-content {
    display: block;
}
.dropdown-menu:hover .icon1 {
    content: url(../image/home2.svg);
}
.dropdown-menu:hover .icon2 {
    content: url(../image/team2.svg);
}
.dropdown-menu:hover .icon3 {
    content: url(../image/pro2.svg);
}
.dropdown-menu:hover .icon4 {
    content: url(../image/lab2.svg);
}
.dropdown-content {
    display: none;
    background: linear-gradient(135deg, rgba(225, 245, 251, 0.7), rgba(0, 238, 255, 0.7));
    position: absolute;
    border-radius: 0 0 25px 25px;
    width: 103px;
}
       
.dropdown-menu .dropdown-content a {
    font-size: 14px;
        display: block;
            z-index: 10;
            padding: 10px 10px;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 60px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(170, 190, 255);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 190, 255, .5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}