#progress-bar {
    width: 0%;
    height: 2px;
    background-color: grey;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9999;
    transition: width 0.3s;
}

body {
    height: 2000px;
}

.canvas #live2d {
    width: 50px !important;
    height: 50px !important;
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: whitesmoke;
    padding-right: 16px;
    position: fixed;
    top: 0px;
    z-index: 999999;
    /* 背景透明加渐变色效果 */
    background: linear-gradient(135deg, rgba(225, 245, 251, 0.5), rgba(0, 238, 255, 0.5));
    /* 背景模糊效果 */
    backdrop-filter: blur(2px);
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 18px;
    color: black !important;
    font-weight: 600;
    height: 70px;

}

.chater-content {
    padding: 0 16px;
}

.chater-title {
    line-height: 70px;
}

.nav-logo {
    position: absolute;
    width: 12%;
}

/* 以下为导航栏的标签悬浮下划线动画 ,使用伪元素*/
.dropdown-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu:before {
    content: "";
    position: absolute;
    left: 50%;
    /* 本bottom用于修改与文字的距离 */
    bottom: 8px;
    width: 0;
    height: 3px;
    border-radius: 2px;
    background: #4285f4;
    transition: all .6s;
    opacity: 0;
}

.dropdown-menu:hover:before {
    width: 100%;
    left: 0;
    right: 0;
    opacity: 1;
}

/* 导航栏下划线动画结束 */
/* 以下为下拉菜单的标签悬浮下划线动画 ,使用伪元素*/
.cool-link2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.cool-link2:before {
    content: "";
    position: absolute;
    left: 50%;
    /* 本bottom用于修改与文字的距离 */
    bottom: 0px;
    width: 0;
    height: 3px;
    border-radius: 2px;
    background: #4285f4;
    transition: all .6s;
    opacity: 0;
}

.cool-link2:hover:before {
    width: 100%;
    left: 0;
    right: 0;
    opacity: 1;
}

/* 下拉菜单下划线动画结束 */
.dropdown-content {
    position: absolute;
    display: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    border-radius: 0 0 25px 25px;
    opacity: 0;
    /* 背景透明加渐变色效果 */
    background: linear-gradient(135deg, rgba(225, 245, 251, 0.7), rgba(0, 238, 255, 0.7));
    /* 背景模糊效果 */
    backdrop-filter: blur(5px);
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-page {
    display: block;
    margin-top: 15px;
    text-align: center;
}

/* Show the dropdown menu on hover */
/* Show the dropdown menu on hover */
/* Show the dropdown menu on hover */
/* Show the dropdown menu on hover */
/* Show the dropdown menu on hover */
/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
    -webkit-animation: dropdown 1s forwards;
    animation: dropdown 1s forwards;
}

@-webkit-keyframes dropdown {
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@keyframes dropdown {
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}