
.swiper-hz {
    position: relative;
}

.swiper-container {
    width: 1200px;
    margin: 100px auto;
    background: grey;
    position: relative;
    /* overflow: hidden; */
}

.swiper-slide {
    margin: 80px 0;
    width: 700px;
    height: 500px;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    /* 两边的图片  */
    transform: scale(0.8);
    opacity: 0.5;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 700px;
    height: 500px;
    margin-bottom: 20px;

}

.swiper-container {
    --swiper-container-navigation-color: red;
    /* 单独设置按钮颜色 */
    --swiper-container-navigation-size: 40px;
    /* 设置按钮大小 */

}

.swiper-slide-active,
.swiper-slide-duplicate-active {
    /* 最中间的图片 */
    transform: scale(1);
    z-index: 999;
    opacity: 1;
}